# Example local policy file for 1Password SSH agent.
# Keep this as a starting point and tailor it in your own environment.

# [[ssh-keys]]
# vault = {{ .op.vault | default "Private" | quote }}
# item = {{ .op.ssh_default_item | default "SSH Personal" | quote }}

# [[ssh-keys]]
# vault = {{ .op.vault | default "Private" | quote }}
# item = {{ .op.ssh_work_item | default "SSH Work" | quote }}
