Host *
  ServerAliveInterval 60
  ServerAliveCountMax 3
  HashKnownHosts yes
  IdentitiesOnly yes
  IgnoreUnknown UseKeychain

{{- if .use_1password | default false }}
  IdentityAgent ~/.1password/agent.sock
{{- else }}
  IdentityFile {{ .ssh.personal_pubkey | default "~/.ssh/id_ed25519.pub" | replace ".pub" "" }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
{{- end }}

Host github.com
  HostName github.com
  User git
{{- if .use_1password | default false }}
  # Example: public key path downloaded/exported locally, private key remains in 1Password
  IdentityFile {{ .ssh.personal_pubkey | default "~/.ssh/id_ed25519.pub" }}
{{- else }}
  IdentityFile {{ .ssh.personal_pubkey | default "~/.ssh/id_ed25519.pub" | replace ".pub" "" }}
{{- end }}

Host github-work
  HostName github.com
  User git
{{- if .use_1password | default false }}
  IdentityFile {{ .ssh.work_pubkey | default "~/.ssh/id_ed25519_work.pub" }}
{{- else }}
  IdentityFile {{ .ssh.work_pubkey | default "~/.ssh/id_ed25519_work.pub" | replace ".pub" "" }}
{{- end }}

{{- if .use_1password | default false }}

# Optional machine-local generated additions rendered from op inject
Include ~/.ssh/config.1password
{{- end }}
