{{`{{ op://`}}{{ .op.vault | default "Private" }}/{{ .op.ssh_personal_item | default "SSH-Personal" }}/public key{{` }}`}} {{ .git.email | default "timo.sugliani@gmail.com" }} {{ .op.ssh_personal_item | default "SSH-Personal" }}
