{{`{{ op://`}}{{ .op.vault | default "Private" }}/{{ .op.ssh_zpods_item | default "SSH-zPodFactory" }}/public key{{` }}`}} {{ .git.email | default "timo.sugliani@gmail.com" }} {{ .op.ssh_zpods_item | default "SSH-zPodFactory" }}
