# Machine-local environment variables rendered via op inject.
export GITHUB_TOKEN="{{`{{ op://`}}{{ .op.vault | default "Private" }}/{{ .op.github_personal_item | default "GitHub-Personal" }}/token{{` }}`}}"
